/* first rule */
.container {
  display: flex;
  justify-content: space-around;
  /* justify-content: center; //move horizontal axis or main axis  */
  /* align-items: center; // move vertical axis or cross axis */
  height: 100vh;
  flex-wrap: wrap;
}
.box {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* align boxes */

.box:nth-child(2) {
  /* align-self: center; */
}
.box:nth-child(3) {
  /* align-self: flex-end; */
}

/* ordering css */

.box:nth-child(3) {
  order: 0;
}
